<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Reportes.Properties.Settings.dbMantenimientoConnectionString"
      connectionString="Data Source=MARCOANTONIO-PC;Initial Catalog=dbMantenimiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Reportes.Properties.Settings.dbMantenimientoConnectionString1"
      connectionString="Data Source=MARCOANTONIO-PC;Initial Catalog=dbMantenimiento;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
    <add name="Reportes.Properties.Settings.dbMantenimientoConnectionString2"
      connectionString="Data Source=MARCO-DELL;Initial Catalog=dbMantenimiento;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
