<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="proyectoMantenimiento.Properties.Settings.dbMantenimientoConnectionString" connectionString="Data Source=MARCOANTONIO-PC;Initial Catalog=dbMantenimiento;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    
    <add key="ip" value=""/>
    <add key="usuario" value=""/>
    <add key="pass" value=""/>
    <add key="tipo_conexion" value=""/>
    <add key="nombre_db" value=""/>
    <add key="nombre_server" value=""/>
    <add key="cadena_conexion" value="Data Source=MARCOANTONIO-PC;Initial Catalog=dbMantenimiento;Integrated Security=True"/>
    </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
