<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ip" value="Monday, January 23, 2006 2:56:14 PM" />
    <add key="usuario" value="Monday, January 23, 2006 2:56:14 PM" />
    <add key="pass" value="Monday, January 23, 2006 2:56:14 PM" />
    <add key="cadena_conexion" value="Monday, January 23, 2006 2:56:14 PM" />
    </appSettings>
</configuration>